body {
  margin: 0;
  text-align: center;
}

.blue {
  background-color: blue;
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
}

.red {
  background-color: red;
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  left: 400px;
  top: 400px;
}

.green {
  background-color: green;
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  left: 200px;
  top: 200px;
}
